nav {
    background-color:#efd9ec5c ;
}

nav li a{
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:black;
}
nav li a:hover {
    color:black;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
    padding:0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
li.empty{
    width:90px;
    border-top: 1px solid black;
    top:-5px;
    position:relative;
}
nav ul  {
    margin: 0 auto;
    text-align:center;
    padding:20px;
}
.button:hover{
    color:black;
}
body, ul {
    margin: 0;
    padding:0;
}
header{
    background-color:#efd9ec5c;
    text-align:center;
    padding:40px 20px;
    font-family: 'Antic Didone', serif;
}

a{
    color:black;
}
.carousel{
    width: 90%;
    align-items: center;
    margin: auto;
}
h1{
    padding:20px
}

section{ 
    margin: 0 auto;
    text-align:center;
    padding:20px;
    font-family: 'Antic Didone', serif;
}

img{
    max-width:90%;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}
.part2{
    background-color: #efd9ec5c;
    text-align:center;
    padding:40px 20px;
    font-size: larger;
    font-family: 'Antic Didone', serif;
    letter-spacing: 2px;
    font-size: 20px
}
.part1{
    text-align:center;
    padding:40px 20px;
    font-size: larger;
    font-family: 'Antic Didone', serif;
    letter-spacing: 2px;
    font-size: 20px
}
.part3{
    text-align:center;
    padding:40px 20px;
    font-size: larger;
    font-family: 'Antic Didone', serif;
    letter-spacing: 2px;
    font-size: 20px
}

div{
    
    margin: 0;
    padding:15px 5px;
}
footer{
    font-family: 'Antic Didone', serif;
    margin: 20px auto;
    text-align:center;
    padding:20px;
}

